
button.playStartButton {
  width: 8em;
  height: 8em;
}

button.settingsButton, button.SoundButton {
  width: var(--icon-size);
  height: var(--icon-size);
}

/********** Sound wave vertical lines **********/

div.soundWaveLine {
  width: 0.36em;
  margin-inline: 0.16em;
  background-color: var(--main-color);
  border-radius: 0.2em;
  transition: height 0.1s;
}
