@import url(pages.css);
@import url(colors.css);

:root {
  --blur-r: 8px;
  --blur-offset: -12px;
}

body {
  margin: 0;
}

.background {
  background-image: url("../imgs/sky1.jpg");
  
  z-index: -10;
  position: fixed;

  /* For correct blur without borders*/
  left: var(--blur-offset);
  top: var(--blur-offset);
  right: var(--blur-offset);
  bottom: var(--blur-offset);

  /* Image layout */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


  /* Values for background blur */
  filter: blur(var(--blur-r));
  -webkit-filter: blur(var(--blur-r));

  transition: filter 0.5s;
}

.app {
  z-index: -10;
  position: fixed;

  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  display: flex;
}

.hidden {
  visibility: hidden;
}

/* Loader animation */
.loader {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, var(--accent-color) 90%, #0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}