@import url(vars.css);

.page {
  flex: 1;
  transition: var(--opacity-transition) opacity;
}

.valueLine {
  display: flex;
  justify-content: space-between;
  margin-block: 1em;
  align-items: center;
}

/********** Index page **********/

.pageIndex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/********** Play page **********/

.pagePlay {
  display: grid;
  grid-template-columns: 3em 1fr 2fr 1fr 3em;
  grid-template-rows: 3em 1fr 1fr 4em;
}

/********** Settings page **********/

.pageSettings {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 10em auto 10em;

  overflow-y: scroll;
}

.settingsBlock {
  grid-column: 2;
  grid-row: 2;
  align-self: start;
  justify-self: stretch;
}

/********** Shortcuts page **********/

.pageShortcuts {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: 10em auto 10em;

  overflow-y: scroll;
}

.shortcutsBlock {
  grid-column: 2;
  grid-row: 2;
  align-self: start;
  justify-self: stretch;
}

/********** Common **********/


/*.active {*/
/*  opacity: 1;*/
/*  transition: var(--opacity-transition) all;*/
/*}*/

.transparent {
  opacity: 0;
  transition: var(--opacity-transition) all;
}

.hidden {
  /*
  flex: 0;
  height: 0;
  width: 0;
  */
  display: none;
  visibility: hidden;
}
