:root {
  --background-color: #00000044;
  --main-color: #FFCDCD;
  --second-color: #b89c9c83;
  --accent-color: #f06c6c;

  --accent-font: "Fugaz One", sans-serif;
  
  --icon-size: 1.1em;

  --opacity-transition: 0.25s;
}

/* Example - use it later */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #00000044;
  }
}